@font-face {
    font-family: 'notosans';
    src: url(NotoSansKannada-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'baumans';
    src: url(Baumans-Regular.ttf);
}

#header
{
    background-color:#FF3333;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    width: 94.95rem;
}

#logo
{
    background-image: url(sps_logo.svg);
    background-size: 240px;
    height: 97px;
    width: 240px;
    background-repeat: no-repeat;
    margin-left: 60px;
    display: inline-block;
    border-radius: 16px;
    background-position: center;
}

.headc
{
    text-decoration: none;
    font-size: 19px;
    font-weight: 600px;
    font-family: 'notosans';
    color: #ffffff;
    display: inline-block;
    margin-top: 40px;
    user-select: none;
    position: absolute;
    height: 28px;
}


#abt
{
    margin-left: 550px;
    width: 90px;
}

#abt:hover
{
    color: rgba(0, 0, 0, 0.877);
}

#products
{
    margin-left: 744px;
    width: 88px;
}

#products:hover
{
    color: rgba(0, 0, 0, 0.877);
}

#contact
{
    margin-left: 920px;
    width: 110px;
}

#contact:hover
{
    color: rgba(0, 0, 0, 0.877);
}

#your1
{
    margin-left: 260px;
}

#ally
{
    display: inline-block;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    font-family: 'notosans';
    margin-top: 4rem;
    user-select: none;
    width: 1000px;

    animation-name: anim1;
    animation-duration: 0.9s;
    animation-iteration-count:1;
    animation-timing-function: ease-in-out;
    animation-delay: 0.8s;
}


@keyframes anim1
{
    0%
    {
        text-shadow: 3px 1px rgb(251, 115, 115);
    }

    100%
    {
        text-shadow: 4px 2px rgb(251, 115, 115);
    }

    40%
    {
        transform: scale(1.2);
        text-shadow: 5px 3px rgb(251, 115, 115);
    }

    60%
    {
        transform: scale(1.2);
        text-shadow: 5px 3px rgb(251, 115, 115);

    }

    80%
    {
        text-shadow: 4px 2px rgb(251, 115, 115);
    }

    100%
    {
        text-shadow: 3px 1px rgb(244, 167, 167);
    }
}


#betwn1
{
    font-size: 180px;
    font-weight: 400;
    font-family: 'baumans';
    user-select: none;
    position: absolute;
    margin-top: -6.8rem;
    margin-left: -2.6rem;
    height: 205px;
}

#motorimgs
{
    text-align: center;
    height: 236px;
    user-select: none;
    width: 1519px;
}

#motorimg1
{
    background-image: url(motor_img1.svg);
    background-size: 230px;
    height: 236px;
    width: 250px;
    background-repeat: no-repeat;
    display: inline-block;
}

#motorimg2
{
    background-image: url(motor_img2.svg);
    background-size: 270px;
    height: 236px;
    width: 280px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 200px;
}

#motorimg3
{
    background-image: url(motor_img3.svg);
    background-size: 230px;
    height: 236px;
    width: 250px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 200px;
}

#imgcarous
{
    margin-top: 200px;
    margin-left: 316px;
    display: none;
}

#offring
{
    font-family: 'notosans';
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    user-select: none;
    width: 1519px;
}

#cards
{
    padding-right: 7rem;
    padding-left: 7rem;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3rem;
    height: 110px;
    width: 1519px;
}

.cardin
{
    border: solid #FF3333;
    border-radius: 16px;
    border-width: 2px;
    display: inline-block;
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    user-select: none;
}

.cardhad
{
    font-size: 17px;
    font-weight: 600;
    user-select: none;
}

.cardhadin
{
    font-size: 13px;
    font-weight: 400;
}


#ouroffrcarous
{
    width: 1520px;
    height: 320px;
    display: none;
    position: absolute;
}

#about
{
    font-family: 'notosans';
    text-align: justify;
    width: 550px;
    height: 550px;
    margin-top: 220px;
    margin-left: 110px;
    user-select: none;
}

#aboutus
{
    font-size: 36px;
    font-weight: 500;
    text-decoration: underline #FF5757 4px;
}

.abmaterial
{
    font-size: 18px;
    font-weight: 400;
}

#abpoint
{
    font-size: 16px;
    margin-top: -15px;
}

#workimg
{
    background-image: url(business_img.svg);
    background-size: 600px;
    background-repeat: no-repeat;
    height: 580px;
    width: 600px;
    margin-top: -420px;
    margin-left: 710px;
}

#dbbi
{
    margin-top: 220px;
    width: 1519.59px;
    user-select: none;
}

#dealingwith
{
    text-align: center;
    padding-top: 95px;
    padding-right: 157px;
    padding-left: 157px;
    font-size: 48px;
    font-weight: 400;
    color: white;
    background-color: #FF3333;
    height: 347.5px;
    width: 759.79px;
    border-width: 0.1px;
    display: inline-block;
}

#brandsimg
{
    justify-content: center;
    background-image: url(brands_img.svg);
    background-size: 759.79px;
    background-repeat: no-repeat;
    height: 347.5px;
    width: 759.79px;
    position: absolute;
    display: inline-block;    
    background-position: center;
}

#busihandshak
{
    background-image: url(business_handshake_img.svg);
    background-size: 416px;
    background-repeat: no-repeat;
    height: 347.5px;
    width: 759.79px;
    margin-top: -16px;
    display: inline-block;
    background-position: center;
}

#inrealm
{
    text-align: center;
    padding-top: 65px;
    padding-right: 44px;
    padding-left: 44px;
    font-size: 48px;
    font-weight: 400;
    color: white;
    background-color: #FF3333;
    height: 347.5px;
    width: 759.79px;
    border-width: 0.1px;
    display: inline-block;
    position: absolute;
    margin-top: -16px;
}

#category
{
    height: 5000px;
    user-select: none;
    margin-top: 219px;
}

#explore
{
    background-color: #FF3333;
    height: 75px;
    width: 1519.58px;
    text-align: center;
    padding-top: 12px;
    font-size: 32px;
    font-weight: 400;
    color: white;
    position: sticky;
    top: 0px;
    z-index: +8;
}

#categ
{
    position: absolute;
    background-color: #F3F3F3;
    width: 300px;
    height: 5000px;
    display: inline-block;
}

#filter
{
    background-color: #D9D9D9;
    font-size: 20px;
    font-weight: 500;
    width: 300px;
    height: 52px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -15.8px;
    margin-bottom: 0px;
    position: sticky;
    top: 75px;
    z-index: +7;
}

.categname
{
    border-bottom: solid #7a7777;
    border-width: 1px;
    background-color: #F3F3F3;
    font-size: 17px;
    font-weight: 500;
    width: 300px;
    height: 52px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    position: sticky;
}

.categname:hover
{
    color:#FF5757;
}

#construction
{
    top: 127px;
    z-index: +6;
}

#chemical
{
    top: 179px;
    z-index: +5;
}

#irrigation
{
    top: 231px;
    z-index: +4;
}

#oil
{
    top: 283px;
    z-index: +3;
}

#steel
{
    top: 335px;
    z-index: +2;
}

#sugar
{
    top: 387px;
    z-index: +1;
}

#bkrloskr
{
    border: solid #FF5757;
    border-width: 3px;
    border-radius: 14px;
    margin-left: 400px;
    margin-top: 25px;
    padding: 25px;
    width: 1023px;
    display: inline-block;
}

#krloskrimg
{
    background-image: url(Kirloskar_Group_Logo\ 1.svg);
    background-repeat: no-repeat;
    background-size: 178px;
    height: 200px;
    width: 178px;
    display: inline-block;   
    margin-left: 30px; 
}

#kmaterial
{
    font-size: 32px;
    font-weight: 500;
    color: #FF5757;
    width: 590px;
    margin-top: -220px;
    margin-left: 340px;
}

#kkmaterial
{
    font-size: 20px;
    width: 590px;
    margin-left: 340px;
    text-align: center;
}

.catgheading
{
    margin-left: 438px;
    margin-right: 200px;
    text-align: center;
    width: 951px;
    font-weight: 500;
    font-size: 20px;
    top: 84px;
    background-color: rgb(241, 180, 180);
    z-index: +1;
    border-radius: 10px;
    position: sticky;
    top: 75px;
}

.cards
{
    border-radius: 14px;
    font-weight: 400;
    font-size: 14px;
    width: 412px;
    height: 288px;
    justify-content: center;
    text-align: center;
    padding-left: 12px;
    padding-right:12px;
    padding-top:7px;
    box-shadow: 5px 5px 5px rgb(195, 194, 194) , -1px -1px 3px rgb(195, 194, 194);
    z-index: 0;
}

.cards:hover
{
    transform: scale(1.02);
    box-shadow: 6px 6px 6px rgb(195, 194, 194) , -1px -1px 3px rgb(195, 194, 194);
}

.crdhead
{
    width: 240px;
    display: inline-block;
}

.crds
{
    margin-left: 450px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 99px;
    width: 950px;
    row-gap: 60px;
}

.crdsimg
{
    background-repeat: no-repeat;
    width: 150px;
    height: 105px;
}


.crdsimg
{
    background-repeat: no-repeat;
    width: 150px;
    height: 105px;
}

#consimg1
{
    background-image: url(img/cons_cimg_1.svg);
    background-size: 150px;
    margin-left: 116px;
}

#consimg2
{
    background-image: url(img/cons_cimg_2.svg);
    background-size: 120px;
    margin-left: 125px;
}

#consimg3
{
    background-image: url(img/cons_cimg_3.svg);
    background-size: 150px;
    margin-left: 125px;
    margin-top: 10px;
    margin-bottom: 6px;
}

#consimg4
{
    background-image: url(img/cons_cimg_4.svg);
    background-size: 112px;
    margin-left: 127px;
    margin-top: 10px;
    margin-bottom: 6px;
}

#line
{
    height: 0px;
    border: solid rgb(253, 213, 213);
    border-width: 0.1px;
    width: 500px;
    margin-left: 216px;
    border-radius: 25px;
}
/*  */
#chemimg1
{
    background-image: url(img/chem_img1.svg);
    background-size: 150px;
    margin-left: 125px;
    margin-top: 10px;
    margin-bottom: 6px;
}

#chemimg2
{
    background-image: url(img/chem_img2.svg);
    background-size: 115px;
    margin-left: 150px;
    margin-top: 8px;
    margin-bottom: 9px;
}

#chemimg3
{
    background-image: url(img/chem_img3.svg);
    background-size: 175px;
    margin-left: 125px;
}

#chemimg4
{
    background-image: url(img/chem_img4.svg);
    background-size: 120px;
    margin-left: 125px;
}
/*  */
#irrigimg1
{
    background-image: url(img/irrig_img1.svg);
    background-size: 149px;
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 6px;
}

#irrigimg2
{
    background-image: url(img/irrig_img2.svg);
    background-size: 129px;
    margin-left: 125px;
}

#irrigimg3
{
    background-image: url(img/irrig_img3.svg);
    background-size: 189px;
    margin-left: 108px;
}

#irrigimg4
{
    background-image: url(img/irrig_img4.svg);
    background-size: 125px;
    margin-left: 130px;
}
/*  */
#ogimg1
{
    background-image: url(img/og_img1.svg);
    background-size: 170px;
    margin-left: 110px;
}

#ogimg2
{
    background-image: url(img/og_img2.svg);
    background-size: 148px;
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 6px;
}

#ogimg3
{
    background-image: url(img/og_img3.svg);
    background-size: 180px;
    margin-left: 105px;
}

#ogimg4
{
    background-image: url(img/og_img4.svg);
    background-size: 110px;
    margin-left: 140px;
    margin-top: 10px;
    margin-bottom: 6px;
}
/*  */
#steelimg1
{
    background-image: url(img/steel_img1.svg);
    background-size: 130px;
    margin-left: 125px;
    margin-top: 10px;
    margin-bottom: 6px;
}

#steelimg2
{
    background-image: url(img/steel_img2.svg);
    background-size: 120px;
    margin-left: 137px;
    margin-top: 14px;
    margin-bottom: 2px;
}

#steelimg3
{
    background-image: url(img/steel_img3.svg);
    background-size: 183px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 6px;
}

#steelimg4
{
    background-image: url(img/steel_img4.svg);
    background-size: 110px;
    margin-left: 140px;
    margin-top: 10px;
    margin-bottom: 6px;
}
/*  */
#sugarimg1
{
    background-image: url(img/sugar_img1.svg);
    background-size: 170px;
    margin-left: 110px;
}

#sugarimg2
{
    background-image: url(img/sugar_img2.svg);
    background-size: 130px;
    margin-left: 125px;
    margin-top: 10px;
    margin-bottom: 6px;
}

#sugarimg3
{
    background-image: url(img/sugar_img3.svg);
    background-size: 150px;
    margin-left: 125px;
    margin-top: 10px;
    margin-bottom: 6px;
}

#sugarimg4
{
    background-image: url(img/sugar_img4.svg);
    background-size: 135px;
    margin-left: 125px;
    margin-top: 10px;
    margin-bottom: 6px;
}

#enquiry
{
    width: 1519.59px;
    margin-top: 220px;
}

#enquiry1
{
    display: none;
}

#reachus
{
    font-family: 'notosans';
    font-size: 60px;
    font-weight: 450;
    width: 300px;
    height: 60px;
    user-select: none;
    margin-left: 115px;
}

#feelfree
{
    font-family: 'notosans';    
    font-size: 25px;
    font-weight: 500;
    width: 400px;
    user-select: none;
    margin-left: 118.5px;
    margin-top: -10px;
}

#contactimg
{
    background-image: url(reachus_img.svg);
    background-size: 400px;
    background-repeat: no-repeat;
    height: 285px;
    width: 400px;
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 10px;
}

#formin
{
    font-family: 'notosans';    
    display: inline-block;   
    position: absolute;
    border-width: 0.1px;
    height: 405px;
    width: 255px;
    margin-left: 350px;
    margin-top: -120px;
}


.nmm
{
    font-size: 20px;
    font-weight: 500;
    width: 250px;
    user-select: none;
    margin-top: 15px;
}

.inclass
{
    border-radius: 12px;
    padding: 8px;
    border-width: 2px;
    border-color: black;
    resize: none;
    width: 250px;
    margin-top: -10px;
}

#bsubmit
{
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    background-color: #FF5757;
    margin-top: 15px;
    padding: 6px;
    padding-top: 13px;
    padding-right: 20px;
    padding-left: 20px;
}

#bsubmit:hover
{
    background-color: #fe6f6f;
}

#vertline
{
    border-radius: 12px;
    border: solid #FF5757;
    display: inline;
    position: absolute;
    width: 0px;
    height: 260px;
    margin-left: 650px;
    margin-top: -60px;
}

#def
{
    font-family: 'notosans';    
    position: absolute;
    margin-left: 1200px;
    margin-top: -347px;
    width: 260px;
    user-select: none;
}

#want
{
    font-size: 30px;
    font-weight: 500;
}

#bform
{
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    background-color: #FF5757;
    margin-top: 15px;
    padding: 6px;
    padding-top: 13px;
    padding-right: 20px;
    padding-left: 20px;
}

#bform:hover
{
    background-color: #fe6f6f;
}

#footer
{
    background-color: #FF3333;
    height: 265px;
    width: 1519px;
}


#footlogo
{
    background-image: url(sps_logo.svg);
    background-size: 245px;
    height: 100px;
    width: 246px;
    background-repeat: no-repeat;
    margin-left: 5rem;
    margin-top: 82px;
    display: inline-block;
    border-radius: 16px;
    border: solid rgb(4, 4, 4);
    border-width: 1px;
}

#addr
{
    font-family: 'notosans';
    margin-top: -162px;
    margin-left: 23rem; 
    color: white;   
}

#followus
{
    font-family: 'notosans';
    font-weight: 700;
    margin-top: -11rem;
    margin-left: 70rem; 
    color: white;   
    user-select: none;
}

#blogos
{
    display: grid;
    margin-left: 1080px;
    width: 180px;
    height: 45px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}


.sml
{
    background-repeat:no-repeat;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    background-size: 40px;
    height:38.5px;
    width:40.1px;
}


#fi
{
    background-image: url(facebook_img.svg);
}

#fi:hover
{
    transform: scale(1.1);
}

#ii
{
    background-image: url(Instagram_insta_img.svg);
}

#ii:hover
{
    transform: scale(1.1);
}

#li
{
    background-image: url(linkedin_img.svg);
}

#li:hover
{
    transform: scale(1.1);
}

#copyright
{
    font-family: 'notosans';
    font-size: 13px;
    font-weight: 380;
    color: white;   
    user-select: none;
    width: 363px;
    height: 21px;
    margin-left: 987px; 
    margin-top: 30px;
}


@media (max-width:950px) 
{
    #logo
    {
        background-size: 400px;
        height: 161px;
        width: 401px;
    }

    .headc
    {
        display: none;
    }

    #your1
    {
        margin-left: 200px;
        margin-top: 100px;
        width: 1135px;
    }

    #ally
    {
        width: 1135px;
        font-size: 130px; 
    }

    #betwn1
    {
        font-size: 340px;
        font-weight: 400;
        margin-top: -180px;
        margin-left: -65px;
    }

    #motorimgs
    {
        display: none;
    }

    #imgcarous
    {
        height: 900px;
        width: 900px;
        display: inline-block;
    }

    #offring
    {
        margin-top: 100px;
        font-size: 110px;
        font-weight: 700;
    }

    #cards
    {
        display: none;
    }

    #ouroffrcarous
    {
        display: inline-block;   
    }

    .cardin
    {
        margin-left: 59px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 2rem;
        padding-left: 2rem;
        width: 1394px;
    }

    .cardhad
    {
        font-size: 60px;
        font-weight: 700;
    }

    .cardhadin
    {
        font-size: 42px;
        font-weight: 500;
    }

    #card2
    {
        padding-top: 63px;
        padding-bottom: 63px;
    }
    
    #card3
    {
        padding-top: 63px;
        padding-bottom: 63px;
    }

    #about
    {
        margin-top: 800px;
        margin-left: 215px;
        width: 1100px;
        height: 1900px;
        margin-bottom: 1000px;
    }

    #aboutus
    {
        text-align: center;
        font-size: 80px;
        font-weight: 600;
        text-decoration: underline #FF5757 10px;
    }

    .abmaterial
    {
        font-size: 50px;
        font-weight: 600;
    }

    #abpoint
    {
        font-size: 45px;
        margin-top: -15px;
        font-weight: 600;
    }

    #workimg
    {
        margin-top: 0px;
        margin-left: -46px;
        margin-top: 100px;
        background-size: 1200px;
        height: 700px;
        width: 1200px;
    }

    #dbbi
    {
        margin-top: 1300px;
    }

    #dealingwith
    {
        border-width: 0.1px;
        font-size: 80px;
        font-weight: 500;
        height: 500px;
        width: 1520px;
        padding-right: 450px;
        padding-left: 450px;
        padding-top: 135px;
    }

    #brandsimg
    {
        position: relative;
        border-width: 0.1px;
        width: 1519.7px;
        height: 500px;
        background-size: 1050px;
        margin-top: -17px;
    }
    
    #inrealm
    {
        position: relative;
        padding-right: 180px;
        padding-left: 180px;
        padding-top: 72px;
        font-size: 80px;
        font-weight: 500;
        height: 500px;
        width: 1520px;
        margin-top: -23px;
    }

    #busihandshak
    {
        border-width: 0.1px;
        width: 1519.7px;
        height: 500px;
        background-size: 650px;
        margin-top: 510px;
        position: absolute;
        border-bottom: solid rgb(191, 190, 190) 0.1px;
    }

    [data-aos] 
    {
        offset:40000;
    }

    #category
    {
        margin-top: 900px;
    }

    #explore
    {
        display: none;
    }

    #explore1
    {
        background-color: #FF3333;
        height: 157px;
        width: 1519.58px;
        text-align: center;
        padding-top: 12px;
        font-size: 80px;
        font-weight: 450;
        color: white;
        position: sticky;
        top: 0px;
        z-index: +8;
    }

    #categ
    {
        display: none;
    }

    #categ1
    {
        width: 300px;
        height: 5000px;
        display: inline-block;
        position: absolute;
    }

    #filter
    {
        display: none;
    }

    #filter1
    {
        background-color: #D9D9D9;
        font-size: 55px;
        font-weight: 500;
        width: 1519.58px;
        height: 100px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: -15.8px;
        margin-bottom: 0px;
        position: sticky;
        top: 157px;
        z-index: +7;
        border: none;
    }

    .categname
    {
        display: none;
    }

    #bkrloskr
    {
        border-radius: 25px;
        margin-left: 102.8px;
        margin-top: 340px;
        padding: 25px;
        display: inline-block;
        width: 1320px;
        height: 520px;
    }

    #krloskrimg
    {
        background-size: 370px;
        height: 370px;
        width: 382px;
        margin-left: 55px; 
        margin-top: 47px;
    }

    #kmaterial
    {
        font-size: 60px;
        font-weight: 650;
        width: 575px;
        margin-top: -400px;
        margin-left: 582px;
    }

    #kkmaterial
    {
        font-size: 35px;
        font-weight: 550;
        width: 800px;
        margin-left: 468px;
        text-align: center;
    }

    #enquiry
    {
        display: none;
    }
   
    #enquiry1
    {
        display: inline-block;
        margin-top: 1000px;
        width: 1519.59px;
        height: 2800px;
    }

    #ru
    {
        text-align: center;
    }

    #reachus1
    {
        font-family: 'notosans';
        font-size: 108px;
        font-weight: 500;
        width: 1519.59px;
        height: 120px;
        display: inline-block;
        margin-left: -1px;
    }

    #feelfree1
    {
        font-family: 'notosans';
        font-size: 65px;
        font-weight: 500;
        width: 1519.59px;
        user-select: none;
        margin-left: -1px;
    }

    #contactimg1
    {
        margin-top: 60px;
        background-image: url(reachus_img.svg);
        background-size: 720px;
        background-repeat: no-repeat;
        height: 550px;
        width: 750px;
        display: inline-block;
        margin-left: 40px;
        background-position: center;
    }

    #formin1
    {
        font-family: 'notosans';    
        display: inline-block;   
        border-width: 0.1px;
        height: 1300px;
        width: 1519.59px;
        margin-top: 0px;
        padding-left: 274px;
        padding-right: 274px;
    }


    .nmm1
    {
        font-size: 60px;
        font-weight: 500;
        width: 250px;
        user-select: none;
        margin-top: 80px;
    }

    .inclass1
    {
        border-radius: 12px;
        padding: 20px;
        padding-top: 30px;
        border-width: 5px;
        border-color:black;
        resize: none;
        width: 1000px;
        margin-top: -25px;
        font-size: 50px;
    }

    #bsubmit1
    {
        font-size: 60px;
        color: white;
        font-weight: 600;
        border: none;
        border-radius: 25px;
        background-color: #FF5757;
        margin-top: 60px;
        padding: 6px;
        padding-top: 30px;
        padding-right: 40px;
        padding-left: 40px;
    }

    #bsubmit1:hover
    {
        background-color: #fe6f6f;
    }

    #horizline
    {
        border-radius: 12px;
        border: solid #FF5757;
        display: inline-block;
        width: 1100px;
        height: 0px;
        margin-left: 215px;
        margin-top: 15px;
    }

    #def1
    {
        font-family: 'notosans';
        position: absolute;
        margin-left: 1px;
        margin-top: 90px;
        width: 1519.59px;
        user-select: none;
        text-align: center;
    }

    #want1
    {
        font-size: 65px;
        font-weight: 600;
    }

    #fill1
    {
        font-size: 43px;
        font-weight: 600;
        width: 465px;
        display: inline-block;
    }

    #bform1
    {
        font-size: 60px;
        color: white;
        font-weight: 600;
        border: none;
        border-radius: 25px;
        background-color: #FF5757;
        padding: 6px;
        padding-top: 30px;
        padding-right: 40px;
        padding-left: 40px;
        display: block;
        margin-top: 10px;
        margin-left: 643px;
    }

    #bform1:hover
    {
        background-color: #fe6f6f;
    }

    #footer
    {
        background-color: #FF3333;
        height: 700px;
        width: 1520px;
        margin-top: 100px;
    }

    #footlogo
    {
        background-size: 450px;
        height: 182px;
        width: 450px;
        margin-left: 80px;
        margin-top: 130px;
        border-radius: 30px;
    }

    #addr
    {
        margin-top: -240px;
        margin-left: 785px; 
        font-size: 40px; 
        position: absolute;
        width: 670px;
    }

    #followus
    {
        font-size: 40px;
        font-weight: 700;
        margin-top: 50px;
        margin-left: 193px; 
    }

    #blogos
    {
        margin-left: 125px;
        width: 180px;
        height: 45px;
        grid-gap: 50px;
    }

    .sml
    {
        background-size: 90px;
        height:90px;
        width:90px;
        border-radius: 50px;
    }

    #copyright
    {
        font-size: 40px;
        font-weight: 400;
        width: 1110px;
        height: 50px;
        margin-left: 215px; 
        margin-top: 110px;
    }   
}


